<div class="container">
    <div id="image" class="text-center">
          <p class="text-center">
        <h4>釣り好きなあなたへ！</h4><br>
           このサイトは、あなたの釣りライフをより快適にする為のサイトになります！<br>
           無料の会員登録を行うと、どこでどんな魚が釣れているのか一目瞭然！！<br>
           まずは気軽に登録してみよう！<br>
           <%= link_to "新規登録",   new_user_registration_path, class: "mt-3 mb-3 btn btn-primary" %><br>
           すでに登録済の方は<br>
           <%= link_to "ログイン",  new_user_session_path, class: "mt-3 mb-3 btn btn-primary" %><br>
          </p>
    </div>
</div>