// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#image {
  background-image: image-url("top.jpg");
  background-size:cover;
  background-position: center center;
}
